@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

body {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #eee;
    color: #000000
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

ul {
    list-style: none;
    margin-bottom: 0px
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 400;
    color: #828282;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

p a {
    display: inline;
    position: relative;
    color: inherit;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

a, a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

p a:hover::after {
    opacity: 0.2
}

::selection {
}

p::selection {
}

h1 {
    font-size: 48px
}

h2 {
    font-size: 36px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px
}

h1::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection {
}

.form-control {
    color: #db5246
}

section {
    display: block;
    position: relative;
    box-sizing: border-box
}

.clear {
    clear: both
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table
}

.clearfix::after {
    clear: both
}

.clearfix {
    zoom: 1
}

.float_left {
    float: left
}

.float_right {
    float: right
}

.bbb_background {
    background-color: #E0E0E0 !important
}

.trans_200 {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.trans_300 {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease
}

.trans_400 {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease
}

.trans_500 {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease
}

.fill_height {
    height: 100%
}

.super_container {
    width: 100%;
    overflow: hidden
}

.prlx_parent {
    overflow: hidden
}

.prlx {
    height: 130% !important
}

.nopadding {
    padding: 0px !important
}

.button {
    display: inline-block;
    background: #0e8ce4;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.button a {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px
}

.button:hover {
    opacity: 0.8
}

.trends {
    padding-top: 80px;
    padding-bottom: 80px
}

.bbb_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(203, 225, 238, 0.3)
}

.bbb_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center
}

.bbb_container {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-right: 40px
}

.bbb_title {
    padding-right: 50px
}

.bbb_text {
    margin-top: 17px
}

.bbb_text p:last-child {
    margin-bottom: 0px
}

.bbb_slider_nav {
    margin-top: 27px
}

.bbb_nav {
    display: inline-block;
    width: 36px;
    height: 36px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    margin-right: 16px;
    background-color: #581873
}

.bbb_nav:last-child {
    margin-right: 0px
}

.bbb_nav i {
    line-height: 36px;
    color: #fff;
    font-size: 18px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_item {
    background: #FFFFFF;
    border-radius: 1px;
    padding: 25px
}

.bbb_image {
    width: 100%;
    height: 212px
}

.bbb_image img {
    width: auto !important;
    max-width: 100% !important
}

.bbb_category a {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5)
}

.bbb_category a:hover {
    color: #0e8ce4
}

.bbb_content {
    margin-top: 24px
}

.bbb_name {
    float: left
}

.bbb_name a {
    font-size: 16px;
    color: #000000
}

.bbb_name a:hover {
    color: #0e8ce4
}

.bbb_price {
    font-size: 16px;
    font-weight: 500;
    float: right
}

.bbb_fav {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    cursor: pointer
}

.bbb_fav.active {
    visibility: visible;
    opacity: 1
}

.bbb_fav:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3)
}

.bbb_item:hover .bbb_fav {
    visibility: visible;
    opacity: 1;
    top: 18px
}

.bbb_fav i {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #cccccc;
    line-height: 36px;
    pointer-events: none;
    z-index: 0;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_fav.active i {
    color: red
}

.bbb_item:hover .bbb_fav {
    visibility: visible;
    opacity: 1
}

.bbb_marks {
    position: absolute;
    left: 18px;
    top: 18px
}

.bbb_mark {
    display: none;
    width: 36px;
    height: 36px;
    font-size: 10px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 50%;
    line-height: 36px;
    text-align: center
}

.bbb_discount {
    background: #df3b3b
}

.bbb_item.discount .bbb_discount, .bbb_item.is_new .bbb_new {
    display: block
}

.bbb_new {
    background: #0e8ce4
}

@media only screen and (max-width: 991px) {
    .bbb_slider_container {
        margin-top: 15px
    }
}

.carousel {
    margin: 50px auto;
    padding: 0 70px;
}
.carousel .carousel-item {
    min-height: 330px;
    text-align: center;
    overflow: hidden;
}
.carousel .carousel-item .img-box {
    height: 160px;
    width: 100%;
    position: relative;
}
.carousel .carousel-item img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.carousel .carousel-item h4 {
    font-size: 18px;
    margin: 10px 0;
}
.carousel .carousel-item .btn {
    color: #333;
    border-radius: 0;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-top: 5px;
    line-height: 16px;
}
.carousel .carousel-item .btn:hover, .carousel .carousel-item .btn:focus {
    color: #fff;
    background: #000;
    border-color: #000;
    box-shadow: none;
}
.carousel .carousel-item .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel .thumb-wrapper {
    text-align: center;
}
.carousel .thumb-content {
    padding: 15px;
}
.carousel-control-prev, .carousel-control-next {
    height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
}
.carousel-control-prev i, .carousel-control-next i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
}
.carousel-control-prev i {
    margin-left: -3px;
}
.carousel-control-next i {
    margin-right: -3px;
}
.carousel .item-price {
    font-size: 13px;
    padding: 2px 0;
}
.carousel .item-price strike {
    color: #999;
    margin-right: 5px;
}
.carousel .item-price span {
    color: #581873;
    font-size: 110%;
}
.carousel .carousel-indicators {
    bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border-color: transparent;
    border: none;
}
.carousel-indicators li {
    background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {
    background: rgba(0, 0, 0, 0.6);
}
.star-rating li {
    padding: 0;
}
.star-rating i {
    font-size: 14px;
    color: #ffc000;
}

.bg-custom-purple {
    background-color: #581873;
}

.bg-custom-grey {
    background-color: #dcdcdc;
}

.bg-custom-white {
    background-color: #ffffff;
}

.bg-custom-orange {
    background-color: #f2ab5a;
}

.registration-form {
    margin-top: 50px;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#what-we-do {
    background: #ffffff;
}

#what-we-do .card {
    padding: 1rem !important;
    border: none;
    margin-bottom: 1rem;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#what-we-do .card:hover {
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

#what-we-do .card .card-block {
    padding-left: 50px;
    position: relative;
}

#what-we-do .card .card-block a {
    color: #007b5e !important;
    font-weight: 700;
    text-decoration: none;
}

#what-we-do .card .card-block a i {
    display: none;

}

#what-we-do .card:hover .card-block a i {
    display: inline-block;
    font-weight: 700;

}

#what-we-do .card .card-block:before {
    font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #581873;
    left: 0;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

#what-we-do .card .block-1:before {
    content: "\f0e7";
}

#what-we-do .card .block-2:before {
    content: "\f0eb";
}

#what-we-do .card .block-3:before {
    content: "\f00c";
}

#what-we-do .card .block-4:before {
    content: "\f209";
}

#what-we-do .card .block-5:before {
    content: "\f0a1";
}

#what-we-do .card .block-6:before {
    content: "\f218";
}

#what-we-do .card:hover .card-block:before {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}


body {
    background: #dcdcdc;
    margin-top: 20px;
}

.widget-26 {
    color: #3c4142;
    font-weight: 400;
}

.widget-26 tr:first-child td {
    border: 0;
}

.widget-26 .widget-26-job-emp-img img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.widget-26 .widget-26-job-title {
    min-width: 200px;
}

.widget-26 .widget-26-job-title a {
    font-weight: 400;
    font-size: 0.875rem;
    color: #3c4142;
    line-height: 1.5;
}

.widget-26 .widget-26-job-title a:hover {
    color: #68CBD7;
    text-decoration: none;
}

.widget-26 .widget-26-job-title .employer-name {
    margin: 0;
    line-height: 1.5;
    font-weight: 400;
    color: #3c4142;
    font-size: 0.8125rem;
    color: #3c4142;
}

.widget-26 .widget-26-job-title .employer-name:hover {
    color: #68CBD7;
    text-decoration: none;
}

.widget-26 .widget-26-job-title .time {
    font-size: 12px;
    font-weight: 400;
}

.widget-26 .widget-26-job-info {
    min-width: 100px;
    font-weight: 400;
}

.widget-26 .widget-26-job-info p {
    line-height: 1.5;
    color: #3c4142;
    font-size: 0.8125rem;
}

.widget-26 .widget-26-job-info .location {
    color: #3c4142;
}

.widget-26 .widget-26-job-salary {
    min-width: 70px;
    font-weight: 400;
    color: #3c4142;
    font-size: 0.8125rem;
}

.widget-26 .widget-26-job-category {
    padding: .5rem;
    display: inline-flex;
    white-space: nowrap;
    border-radius: 15px;
}

.widget-26 .widget-26-job-category .indicator {
    width: 13px;
    height: 13px;
    margin-right: .5rem;
    float: left;
    border-radius: 50%;
}

.widget-26 .widget-26-job-category span {
    font-size: 0.8125rem;
    color: #3c4142;
    font-weight: 600;
}

.widget-26 .widget-26-job-starred svg {
    width: 20px;
    height: 20px;
    color: #fd8b2c;
}

.widget-26 .widget-26-job-starred svg.starred {
    fill: #fd8b2c;
}

.bg-soft-base {
    background-color: #e1f5f7;
}

.bg-soft-warning {
    background-color: #fff4e1;
}

.bg-soft-success {
    background-color: #d1f6f2;
}

.bg-soft-danger {
    background-color: #fedce0;
}

.bg-soft-info {
    background-color: #d7efff;
}


.search-form {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
}

.search-form input {
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    padding: 1rem;
    height: 100%;
    font-size: 1rem;
}

.search-form select {
    background: transparent;
    border: 0;
    padding: 1rem;
    height: 100%;
    font-size: 1rem;
}

.search-form select:focus {
    border: 0;
}

.search-form button {
    height: 100%;
    width: 100%;
    font-size: 1rem;
}

.search-form button svg {
    width: 24px;
    height: 24px;
}

.search-body {
    margin-bottom: 1.5rem;
}

.search-body .search-filters .filter-list {
    margin-bottom: 1.3rem;
}

.search-body .search-filters .filter-list .title {
    color: #3c4142;
    margin-bottom: 1rem;
}

.search-body .search-filters .filter-list .filter-text {
    color: #727686;
}

.search-body .search-result .result-header {
    margin-bottom: 2rem;
}

.search-body .search-result .result-header .records {
    color: #3c4142;
}

.search-body .search-result .result-header .result-actions {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-body .search-result .result-header .result-actions .result-sorting {
    display: flex;
    align-items: center;
}

.search-body .search-result .result-header .result-actions .result-sorting span {
    flex-shrink: 0;
    font-size: 0.8125rem;
}

.search-body .search-result .result-header .result-actions .result-sorting select {
    color: #68CBD7;
}

.search-body .search-result .result-header .result-actions .result-sorting select option {
    color: #3c4142;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .search-body .search-filters {
        display: flex;
    }

    .search-body .search-filters .filter-list {
        margin-right: 1rem;
    }
}

.card-margin {
    margin-bottom: 1.875rem;
}

@media (min-width: 992px) {
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
}

.card-margin {
    margin-bottom: 1.875rem;
}

.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}

.page-link {
    color: #ffffff; /* Text color */
    background-color: #581873; /* Background color */
    border: 1px solid #581873; /* Border color */
}

.page-link:hover {
    color: #ffffff;
    background-color: #4a1461; /* Darker purple on hover */
    border-color: #4a1461;
}

.page-item.active .page-link {
    color: #ffffff; /* Active text color */
    background-color: #8220ab; /* Active background color */
    border-color: #8220ab; /* Active border color */
}

.page-item.disabled .page-link {
    color: #cccccc; /* Disabled text color */
    background-color: #f8f9fa; /* Disabled background color */
    border-color: #dddddd; /* Disabled border color */
}

.purple-link {
    font-size: 14px;
    color: #000; /* Text color */
    text-decoration: none;
}

.purple-link:hover {
    font-size: 14px;
    color: #581873;
    text-decoration: none;
}

.carousel-custom {
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.15);
    border-radius: 1.5%;
}