@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.bg-custom-purple {
    background-color: #581873;
}

.bg-custom-grey {
    background-color: #dcdcdc;
}

.bg-custom-white {
    background-color: #ffffff;
}

.bg-custom-orange {
    background-color: #f2ab5a;
}

.registration-form {
    margin-top: 50px;
}

section{
    padding: 60px 0;
}
section .section-title{
    text-align:center;
    color:#007b5e;
    margin-bottom:50px;
    text-transform:uppercase;
}
#what-we-do{
    background:#ffffff;
}
#what-we-do .card{
    padding: 1rem!important;
    border: none;
    margin-bottom:1rem;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}
#what-we-do .card:hover{
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
    padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
    color: #007b5e !important;
    font-weight:700;
    text-decoration:none;
}
#what-we-do .card .card-block a i{
    display:none;

}
#what-we-do .card:hover .card-block a i{
    display:inline-block;
    font-weight:700;

}
#what-we-do .card .card-block:before{
    font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #581873;
    left: 0;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f0e7";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f00c";
}
#what-we-do .card .block-4:before{
    content: "\f209";
}
#what-we-do .card .block-5:before{
    content: "\f0a1";
}
#what-we-do .card .block-6:before{
    content: "\f218";
}
#what-we-do .card:hover .card-block:before{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}


body{
    background:#dcdcdc;
    margin-top:20px;}

.widget-26 {
    color: #3c4142;
    font-weight: 400;
}

.widget-26 tr:first-child td {
    border: 0;
}

.widget-26 .widget-26-job-emp-img img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.widget-26 .widget-26-job-title {
    min-width: 200px;
}

.widget-26 .widget-26-job-title a {
    font-weight: 400;
    font-size: 0.875rem;
    color: #3c4142;
    line-height: 1.5;
}

.widget-26 .widget-26-job-title a:hover {
    color: #68CBD7;
    text-decoration: none;
}

.widget-26 .widget-26-job-title .employer-name {
    margin: 0;
    line-height: 1.5;
    font-weight: 400;
    color: #3c4142;
    font-size: 0.8125rem;
    color: #3c4142;
}

.widget-26 .widget-26-job-title .employer-name:hover {
    color: #68CBD7;
    text-decoration: none;
}

.widget-26 .widget-26-job-title .time {
    font-size: 12px;
    font-weight: 400;
}

.widget-26 .widget-26-job-info {
    min-width: 100px;
    font-weight: 400;
}

.widget-26 .widget-26-job-info p {
    line-height: 1.5;
    color: #3c4142;
    font-size: 0.8125rem;
}

.widget-26 .widget-26-job-info .location {
    color: #3c4142;
}

.widget-26 .widget-26-job-salary {
    min-width: 70px;
    font-weight: 400;
    color: #3c4142;
    font-size: 0.8125rem;
}

.widget-26 .widget-26-job-category {
    padding: .5rem;
    display: inline-flex;
    white-space: nowrap;
    border-radius: 15px;
}

.widget-26 .widget-26-job-category .indicator {
    width: 13px;
    height: 13px;
    margin-right: .5rem;
    float: left;
    border-radius: 50%;
}

.widget-26 .widget-26-job-category span {
    font-size: 0.8125rem;
    color: #3c4142;
    font-weight: 600;
}

.widget-26 .widget-26-job-starred svg {
    width: 20px;
    height: 20px;
    color: #fd8b2c;
}

.widget-26 .widget-26-job-starred svg.starred {
    fill: #fd8b2c;
}
.bg-soft-base {
    background-color: #e1f5f7;
}
.bg-soft-warning {
    background-color: #fff4e1;
}
.bg-soft-success {
    background-color: #d1f6f2;
}
.bg-soft-danger {
    background-color: #fedce0;
}
.bg-soft-info {
    background-color: #d7efff;
}


.search-form {
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
}

.search-form input {
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    padding: 1rem;
    height: 100%;
    font-size: 1rem;
}

.search-form select {
    background: transparent;
    border: 0;
    padding: 1rem;
    height: 100%;
    font-size: 1rem;
}

.search-form select:focus {
    border: 0;
}

.search-form button {
    height: 100%;
    width: 100%;
    font-size: 1rem;
}

.search-form button svg {
    width: 24px;
    height: 24px;
}

.search-body {
    margin-bottom: 1.5rem;
}

.search-body .search-filters .filter-list {
    margin-bottom: 1.3rem;
}

.search-body .search-filters .filter-list .title {
    color: #3c4142;
    margin-bottom: 1rem;
}

.search-body .search-filters .filter-list .filter-text {
    color: #727686;
}

.search-body .search-result .result-header {
    margin-bottom: 2rem;
}

.search-body .search-result .result-header .records {
    color: #3c4142;
}

.search-body .search-result .result-header .result-actions {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-body .search-result .result-header .result-actions .result-sorting {
    display: flex;
    align-items: center;
}

.search-body .search-result .result-header .result-actions .result-sorting span {
    flex-shrink: 0;
    font-size: 0.8125rem;
}

.search-body .search-result .result-header .result-actions .result-sorting select {
    color: #68CBD7;
}

.search-body .search-result .result-header .result-actions .result-sorting select option {
    color: #3c4142;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .search-body .search-filters {
        display: flex;
    }
    .search-body .search-filters .filter-list {
        margin-right: 1rem;
    }
}

.card-margin {
    margin-bottom: 1.875rem;
}

@media (min-width: 992px){
    .col-lg-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
}

.card-margin {
    margin-bottom: 1.875rem;
}
.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 1px solid #e6e4e9;
    border-radius: 8px;
}

.page-link {
    color: #ffffff; /* Text color */
    background-color: #581873; /* Background color */
    border: 1px solid #581873; /* Border color */
}

.page-link:hover {
    color: #ffffff;
    background-color: #4a1461; /* Darker purple on hover */
    border-color: #4a1461;
}

.page-item.active .page-link {
    color: #ffffff; /* Active text color */
    background-color: #8220ab; /* Active background color */
    border-color: #8220ab; /* Active border color */
}

.page-item.disabled .page-link {
    color: #cccccc; /* Disabled text color */
    background-color: #f8f9fa; /* Disabled background color */
    border-color: #dddddd; /* Disabled border color */
}

.purple-link {
    font-size: 14px;
    color: #000; /* Text color */
}

.purple-link:hover {
    font-size: 14px;
    color: #581873;
    text-decoration: none;
}

/*.page-link.link {*/
/*    color: #ffffff; !* Active text color *!*/
/*    background-color: #8220ab; !* Active background color *!*/
/*    border-color: #8220ab; !* Active border color *!*/
/*}*/