.bg-custom-purple {
    background-color: #581873;
}

.bg-custom-grey {
    background-color: #bdb6bf;
}

.bg-custom-orange {
    background-color: #f2ab5a;
}

.registration-form {
    margin-top: 50px;
}